
<h3><i class="icon-group"></i> My Boards...</h3>

<ul class="nav nav-tabs nav-stacked">
	<% @links.each do |link| %>
		<li><%= link_to link.board do %><i class="icon-chevron-right"></i> <%= link.board.name %> <% end %></li>
	<% end %>
</ul>
