
<div class="row-fluid">
	<h3 style="margin-top: 0px;">
		<i class="icon-group"></i> <%= @board.name %>
		<%= link_to edit_board_path(@board), class: 'btn' do %> <i class="icon-edit"></i> <% end %>
	</h3>
</div>
<div class="row-fluid">

	<div id="board" class="span10" style="background-color: #2C3E50; height: 600px">
	</div>

	<div class="span2">
		<p><strong>Members</strong></p>
		<% @board.links.each do |link| %>
			<%= image_tag link.user.picture, class: 'img-rounded', width: '40px' %>
		<% end %>
	</div>

</div>

