<% if flash[:warning] %>
	<div id="warning" class="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div class="text-warning"><%= flash[:warning] %></div>
	</div>
<% end %>

<% if flash[:success] %>
	<div id="warning" class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div class="text-success"><%= flash[:success] %></div>
	</div>
<% end %>
