<!DOCTYPE html>
<html>
<head>
  <title>Arbos</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body background="/assets/arbos.jpg" style="background-size: 100%">
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>